package ${resource.packageName}.domain.model;

import java.util.Date;
import java.util.List;

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;
import javax.persistence.OneToMany;
import javax.persistence.Table;
import javax.persistence.Temporal;
import javax.persistence.TemporalType;
import javax.validation.constraints.NotNull;

import org.hibernate.annotations.GenericGenerator;
import org.hibernate.annotations.Where;

import lombok.EqualsAndHashCode;
import lombok.Getter;
import lombok.Setter;

@Entity
@Table
@Getter
@Setter
@EqualsAndHashCode(of = { "id" })
public class ${resource.resourceClass} {

    #foreach( $item in $resource.property)
        #if($item.name == "id")
    @Id
        #end
        #if($item.type == "Date")
    @Temporal(TemporalType.DATE)
        #end
    @Column
    private $item.type $item.name;
    #end
}